{% extends "base.html" %}

{% block content %}
    <style type="text/css">
        .post-comments .comment-meta {
            border-bottom: 1px solid #eee;
            margin-bottom: 5px;
        }

        .post-comments .media {
            border-left: 1px dotted #000;
            border-bottom: 1px dotted #000;
            margin-bottom: 5px;
            padding-left: 10px;
        }

        .post-comments .media-heading {
            font-size: 12px;
            color: grey;
        }

        .post-comments .comment-meta a {
            font-size: 12px;
            color: grey;
            font-weight: bolder;
            margin-right: 5px;
        }

        h3 a, h3 a:hover {
            text-decoration: none;
            color: #333;
        }
    </style>
    <div class="row-fluid">
        <div class="col-md-12" style="margin-bottom: 18px;">
            <h3><a target="_blank" href="{{ edusource.url }}">{{ edusource.name }}</a>&nbsp;&nbsp;<span class="label label-primary">{{ edusource.type }}</span></h3>
            <h4>from {{ edusource.provider.name }}</h4>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-8">
            {% with edusource.get_embed_type_and_html as embed_info %}
                {% if embed_info.0 == 'video' %}
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ embed_info.1 | safe }}
                    </div>
                {% else %}
                    {{ embed_info.1 | safe }}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Covered Topics</div>
                <div class="panel-body">
                    {% if edusource.covered_topics.all|length > 0 %}
                        {% for covered in edusource.covered_topics.all %}
                            {{ covered.name }}{% if not forloop.last %},&nbsp;{% endif %}
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Required Topics</div>
                <div class="panel-body">
                    {% if edusource.required_topics.all|length > 0 %}
                        {% for covered in edusource.required_topics.all %}
                            {{ covered.name }}{% if not forloop.last %},&nbsp;{% endif %}
                        {% endfor %}
                    {% else %}
                        N/A
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="col-md-12">
            <h4>Discussion</h4>
            <div id="discussion">

            </div>
        </div>
    </div>

    <div style="display: none;" id="comment-template">
        <div class="media">
            <div class="media-heading"><button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#$COLLAPSE_ID$" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>&nbsp;<span class="label label-info">$DATETIME$</span><small> by $USERNAME$</small></div>
            <div class="panel-collapse collapse in" id="$COLLAPSE_ID$">
                <div class="media-left">
                    <div class="vote-wrap">
                        <div class="save-post"><a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a></div>

                        {# <div class="vote up"><i class="glyphicon glyphicon-menu-up"></i></div><div class="vote inactive"><i class="glyphicon glyphicon-menu-down"></i></div>#}
                    </div>
                </div>
                <div class="my-son media-body">
                    <p>$COMMENTBODY$</p>
                    <div class="comment-meta">
                        {# functional links and reply etc. #}
                        <!--
                        <span><a class="" role="button" data-toggle="collapse" href="#$REPLY_THING_ID$" aria-expanded="false" aria-controls="collapseExample">reply</a></span>
                        <div class="collapse" id="$REPLY_THING_ID$">
                            <form><div class="form-group"><label for="comment">Your Comment</label><textarea name="comment" class="form-control" rows="3"></textarea></div><button type="submit" class="btn btn-default">Send</button></form>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagescripts %}
    <script type="text/javascript">
        $(function () {
            String.prototype.replaceAll = function(target, replacement) {
                return this.split(target).join(replacement);
            };

            var $commentTemplate = $("#comment-template").html();

            var postHTML = function(post) {
                var res = $commentTemplate;
                res = res.replaceAll('$USERNAME$', post.poster);
                res = res.replaceAll('$REPLY_THING_ID$', 'reply_thing_' + post.id);
                res = res.replaceAll('$COLLAPSE_ID$', 'collapse_cmt_' + post.id);
                res = res.replaceAll('$COMMENTBODY$', post.text);
                res = res.replaceAll('$DATETIME$', moment(post.time).format('MMMM Do YYYY \\a\\t h:mm:ss a'));
                return res;
            };

            $.getJSON(Urls.load_forum_posts({{ edusource.pk }}), function (response) {
                var html = '';

                $.each(response, function (_, thread) {
                    var $thread = $('<div>' + postHTML(thread) + '</div>');
                    var recurseChildren = function (children, dad) {
                        $.each(children, function (_, child) {
                            var $child = $('<div>' + postHTML(child) + '</div>');
                            dad.find('.my-son').first().append($child); // couldn't resist this line of code sry.
                            recurseChildren(child.children, $child);
                        });
                    };

                    recurseChildren(thread.children, $thread);

                    html += $thread.html();
                });


                $("#discussion").html(html);
            });
        })
    </script>
{% endblock %}