{% extends "base.html" %}

{% block content %}
<style>
body {  background-image: url(https://i.imgur.com/i0CsoCB.jpg);  }
h2 a, h2 a:hover { color: #ccc; text-decoration: none; }
h3 a, h3 a:hover { color: #ccc; text-decoration: none; }
#dad .col-lg-4 {
    padding-left: 13%;
}
</style>

<div id="dad" class="row-fluid" style="padding-top:100px; padding-right: 13%; color:#ccc;text-align:center;">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="http://eduhub.tech/resource/10/view">
            <img src="https://i.imgur.com/dTLqEKT.png" class="thumbnail img-responsive">
        </a>
        <h2><a href="http://eduhub.tech/resource/10/view">Basic Graph Algorithms</a></h2>
        <h3><a href="http://eduhub.tech/resource/10/view">Stanford</a></h3>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe width="150" height="150" src="https://youtube.com/embed/lik9aaFIsl4" frameborder="0" allowfullscreen></iframe>
        </div>
        <h2><a href="http://eduhub.tech/resource/11/view">Merkle Trees</a></h2>
        <h3><a href="http://eduhub.tech/resource/11/view">Chainthat - YouTube</a></h3>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="http://eduhub.tech/resource/14/view">
            <img src="https://i.imgur.com/tTfsrFM.jpg" class="thumbnail img-responsive">
        </a>
        <h2><a href="http://eduhub.tech/resource/14/view">Gravitational Waves</a></h2>
        <h3><a href="http://eduhub.tech/resource/14/view">Wikipedia</a></h3>
    </div>
</div>

{% endblock %}