{% extends "base.html" %}

{% block content %}
<style>
body {  background-image: url(https://i.imgur.com/i0CsoCB.jpg);  }
h2 a, h2 a:hover { color: #ccc; text-decoration: none; }
h3 a, h3 a:hover { color: #ccc; text-decoration: none; }
#dad .col-lg-4 {
    padding-left: 13%;
}
</style>

<div id="dad" class="row-fluid" style="padding-top:100px; padding-right: 13%; color:#ccc;text-align:center;">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="http://eduhub.tech/source/10/view">
            <img src="https://i.imgur.com/dTLqEKT.png" class="thumbnail img-responsive">
        </a>
        <h2><a href="http://eduhub.tech/source/10/view">Basic Graph Algorithms</a></h2>
        <h3><a href="http://eduhub.tech/source/10/view">Stanford</a></h3>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe width="150" height="150" src="https://youtube.com/embed/lik9aaFIsl4" frameborder="0" allowfullscreen></iframe>
        </div>
        <h2><a href="http://eduhub.tech/source/11/view">Merkle Trees</a></h2>
        <h3><a href="http://eduhub.tech/source/11/view">Chainthat - YouTube</a></h3>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a href="http://eduhub.tech/source/14/view">
            <img src="https://i.imgur.com/tTfsrFM.jpg" class="thumbnail img-responsive">
        </a>
        <h2><a href="http://eduhub.tech/source/14/view">Gravitational Waves</a></h2>
        <h3><a href="http://eduhub.tech/source/14/view">Wikipedia</a></h3>
    </div>
</div>

<!--
<style>
    div.joash {
        width: 90%;
        margin: 0 auto;
    }

    div.featured {
        float: left;
        height: 550px;
        width: 500px;
        margin: auto;
        padding: 100px;
    }

    a.f_title {
        font-family: Helvetica;
        font-size: 36px;
        width: 300px;
        text-align: center;
        color: #ccc;
        font-weight: bold;
        margin: auto;
    }

    a.f_prov {
        font-family: Helvetica;
        font-size: 20px;
        text-align: center;
        color: #eee;
        font-weight: bold;
        margin: auto;
    }
</style>
<div class="joash" style="padding-top:100px; padding-left:75px">
    <div class="featured">
        <a href="http://127.0.0.1:8000/source/117/view">
            <img src="http://i.imgur.com/QRAdki8.jpg" style="width:300px;height:169px;border:0;">
        </a>
        <a class="f_title" href="http://127.0.0.1:8000/source/117/view"><p>Basic Graph Algorithms</p></a>
        <a class="f_prov" href="http://127.0.0.1:8000/source/117/view"><p>Stanford</p></a>
    </div>

    <div class="featured">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="150" height="150" src="https://youtube.com/embed/lik9aaFIsl4" frameborder="0" allowfullscreen></iframe>
        </div>
        <a class="f_title" href="http://127.0.0.1:8000/source/95/view"><p>Merkle Trees</p></a>
        <a class="f_prov" href="http://127.0.0.1:8000/source/95/view"><p>Chainthat - YouTube</p></a>
    </div>

    <div class="featured">
        <a href="http://127.0.0.1:8000/source/134/view">
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b8/Wavy.gif" style="width:300px;height:169px;border:0;">
        </a>
        <a class="f_title" href="http://127.0.0.1:8000/source/134/view"><p>Gravitational Waves</p></a>
        <a class="f_prov" href="http://127.0.0.1:8000/source/134/view"><p>Wikipedia</p></a>
    </div>
</div>
-->
{% endblock %}